#navBarID {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(2px);
    box-shadow: 20px 20px 50px rgb(99, 97, 97);
}

.navbar-nav {
    /* dispalys the nav bar as a horizontal menu */
    
    width:100%;
    height:30px;
    display:inline-block;    
    margin-left: 70vw;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;

  }

  .nav-link {
    padding-left: 20px;
  }
  
  li a {
    display: inline;
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* li a:hover {
    background-color: #111;
  } */